<app-navigator [status]="status">
</app-navigator>

<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><span id="network-symbol"></span> 矿池</th>
          <th><i class="fa fa-bars"></i> 高度</th>
          <th><i class="fa fa-tachometer"></i> 算力</th>
          <th><i class="fa fa-group"></i> 矿工</th>
          <th><i class="fa fa-money"></i> 总费用</th>
          <th><i class="fa fa-clock-o"></i> 最新区块</th>
        </tr>
      </thead>
      <tbody id="network_rows">
      </tbody>
    </table>
  </div>
</div>
