<app-admin-navigator [status]="status">
</app-admin-navigator>

<div class="container">
	<div class="table-responsive">
		<table class="table table-hover table-striped usersList">
			<thead>
			<tr>
				<th style="width:30%;">钱包地址</th>
				<th style="width:10%;">算力</th>
				<th style="width:10%;">总算力</th>
				<th style="width:16%;">未支付</th>
				<th style="width:10%;">已支付</th>
				<th style="width:14%;">最后块</th>
			</tr>
			</thead>
			<tbody id="users_rows">

			</tbody>
		</table>
	</div>
</div>


