<app-navigator [status]="status">
</app-navigator>

<div class="container">

  <div class="paymentsStatHolder">
    <span class="bg-primary">总支付: <b id="paymentsTotal">{{status?.pool.totalPayments}}</b></span>
    <span class="bg-info">总矿工支付: <b id="paymentsTotalPaid">{{status?.pool.totalMinersPaid}}</b></span>
    <span class="bg-info">最低支付门槛: <b id="paymentsMinimum">{{status?.config.minPaymentThresholdText}}</b></span>
    <span class="bg-info">发放单元: <b id="paymentsDenomination">{{status?.config.denominationUnitText}}</b></span>
  </div>

  <hr>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><i class="fa fa-clock-o"></i> 发送时间</th>
          <th><i class="fa fa-paw"></i> 交易哈希</th>
          <th><i class="fa fa-money"></i> 数量</th>
          <th><i class="fa fa-tag"></i> 费用</th>
          <th><i class="fa fa-sitemap"></i> 混合</th>
          <th><i class="fa fa-group"></i> 支付接收方</th>
        </tr>
      </thead>
      <tbody id="payments_rows">

      </tbody>
    </table>
  </div>

  <p class="text-center">
    <button type="button" class="btn btn-default" id="loadMorePayments" (click)="getMore()">加载更多</button>
  </p>

</div>
