<div class="container">

  <div id="siteInfo">
    <!-- Description or information about this pool -->
  </div>

  <app-status [status]="status">
  </app-status>
  <app-caculator>
  </app-caculator>

  <div class="stats">
    <h3>你的状态和支付历史</h3>

    <div class="input-group">
      <input class="form-control" id="yourStatsInput" type="text" placeholder="输入你的钱包地址">
      <span class="input-group-btn"><button class="btn btn-default" type="button" id="lookUp">
            <span><i class="fa fa-search"></i> 查询</span>
      <span><i class="fa fa-refresh fa-spin"></i> 搜索...</span>
      </button>
      </span>
    </div>

    <div class="row">
      <div class="col-sm-4 stats">
        <div id="addressError"></div>
        <!-- <div class="yourStats"><i class="fa fa-key"></i> Address: <span id="yourAddressDisplay"></span></div> -->
        <div class="yourStats"><i class="fa fa-bank"></i> 未支付: <span id="yourPendingBalance"></span></div>
        <div class="yourStats"><i class="fa fa-money"></i> 全部已支付: <span id="yourPaid"></span></div>
        <div class="yourStats"><i class="fa fa-clock-o"></i> 最后提交分额: <span id="yourLastShare"></span></div>
        <div class="yourStats"><i class="fa fa-tachometer"></i> 算力: <span id="yourHashrateHolder"></span></div>
        <div class="yourStats"><i class="fa fa-cloud-upload"></i> 总哈希提交: <span id="yourHashes"></span></div>
      </div>
      <div class="col-sm-4">
        <div class="userChart" data-chart="user_hashrate">
          <h4>算力</h4>
          <div class="chart">

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="userChart" data-chart="user_payments">
          <h4>支付</h4>
          <div class="chart">

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <br class="yourStats">

    <h4 class="yourStats">支付</h4>
    <div class="yourStats table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="fa fa-clock-o"></i> 发送时间</th>
            <th><i class="fa fa-paw"></i> 交易哈希</th>
            <th><i class="fa fa-money"></i> 数量</th>
            <th><i class="fa fa-sitemap"></i> 合并</th>
          </tr>
        </thead>
        <tbody id="payments_rows">

        </tbody>
      </table>
    </div>
    <p class="yourStats text-center">
      <button type="button" class="btn btn-default" id="loadMorePayments">加载更多</button>
    </p>

  </div>
</div>