
/************************************************
*** charts ***
************************************************/

.chartsPoolStat {
    padding-top: 30px;
}

.chartWrap {
    display: none;
}

.userChart .chart,
.chartWrap .chart {
    margin-bottom: 10px;
}

.userChart h4,
.chartWrap h4 {
    text-align: center;
    font-size: 21px;
}

.userChart {
    display: none;
}


/************************************************
*** sparkline override ***
************************************************/

.jqstooltip {
    border: none !important;
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 2px !important;
    margin-top: -20px !important;
    /* Override Bootstrap defaults to fix jQuery.Sparkline tooltips appearance */
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box;
    box-sizing: content-box !important;
}

.jqstooltip .jqsfield {
    color: #ccc;
    font-size: 13px !important;
}

.jqstooltip .jqsfield b {
    color: #fff;
}


/************************************************
*** home page fixes ***
************************************************/

#yourAddressDisplay {
    word-wrap: break-word;
}


/************************************************
*** 20% width block ***
************************************************/

.col-sm-20 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .col-sm-20 {
        float: left;
        width: 20%;
    }
}

    .marketFooter{
        font-size: 10px;
        opacity: 0.6;
    }
    #networkLastReward{
        text-transform: uppercase;
    }
    #lastHash{
        font-family: 'Inconsolata', monospace;
        font-size: 0.8em;
    }
    #poolDonations{
        font-size: 0.75em;
    }
    #miningProfitCalc{
        margin: 35px 0;
    }
    #calcHashDropdown{
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
    #calcHashHolder{
        width: 590px;
        max-width: 100%;
    }
    #calcHashRate{
        z-index: inherit;
        font-family: 'Inconsolata', monospace;
    }
    #calcHashAmount{
        font-family: 'Inconsolata', monospace;
    }
    #calcHashResultsHolder{
        min-width: 145px;
        max-width: 145px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #yourStatsInput{
        z-index: inherit;
        font-family: 'Inconsolata', monospace;
    }
    #yourAddressDisplay > span {
        font-family: 'Inconsolata', monospace;
    }
    #lookUp > span:nth-child(2){
        display: none;
    }
    .yourStats{
        display: none;
    }
    #yourAddressDisplay{
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        font-family: 'Inconsolata', monospace;
        font-size: 0.9em;
    }
    #addressError{
        color: red;
    }


    #payments_rows > tr > td{
        vertical-align: middle;
        font-family: 'Inconsolata', monospace;
        font-size: 0.95em;
        text-align: center;
    }
    #payments_rows > tr > td:nth-child(2){
        text-align: left;
    }
